<div class="container">
  <div class="row">
    <div class="col-lg-9">
      <div class="container">
        <p class="h5 font-weight-bold text-center">
          ようこそ、在庫注文サイトへ！
        </p>
      </div>
      <%=link_to products_path do %>
       <p class="text-right">全ての商品を見る　＞</p>
      <% end %>
  </div>
</div>