<div class="container">
  <div class="col-md-3 col-sm-3">
    <p class="p-3">注文履歴一覧</p>
  </div>
  
    <table class = "table table-bordered border-dark">
       <tr bgcolor="#d3d3d3"><th>購入日時</th>
            <th>購入者</th>
            <th>注文個数</th>
      </tr>
       
       
    </table>

      
</div>